<div class="flex-container">
    <h1 class="heading-1">{{webhook.name}}</h1>
    <div class="divider"></div>

    <div class="hook-details-grid">
        <div class="grid-item hook-grid-title">URL</div>
        <div class="grid-item">{{webhook.url}}</div>
    </div>

    <div class="hook-details-grid">
        <div class="grid-item hook-grid-title">Description</div>
        <div class="grid-item">{{webhook.description}}</div>
    </div>

    <button id="close-btn"  mat-stroked-button mat-dialog-close>CLOSE</button>
</div>